@import url("../index.css");

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.back-div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.movie-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-backdrop video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-div.active {
  opacity: 1;
}

.filter {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--dark) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.movie {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 1;
}

.movie .slide-container {
  position: absolute;
  width: 40%;
  bottom: 0;
  right: 0;
}

.slide-container p {
  color: var(--white);
}

.slide-container .slide-wrapper {
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.slide-wrapper .slide {
  width: 15rem;
  height: 8rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

/* .slide-wrapper::-webkit-scrollbar {
  display: none;
} */

.slide img {
  width: 100%;
  display: flex;
  object-fit: cover;
}

.activeSlide {
  border: 2px solid white;
}

.movie .details {
  width: 55%;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  color: var(--white);
}

.details .title {
  font-size: 3.7rem;
  font-family: var(--bebas);
  text-transform: uppercase;
  font-weight: 300;
  line-height: 3.5rem;
}

.rating {
  display: flex;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.rating .circle {
  border: 2px solid var(--white);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle .rate {
  font-weight: bold;
}

.circle .percent {
  font-size: 0.6rem;
}
.movie-info {
  display: flex;
  align-items: center;
}

.movie-info li {
  list-style-type: none;
}

.movie-info ul {
  display: flex;
}

.movie-info li {
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.description {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.play-btn {
  margin-right: 2rem;
}
