@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --poppins: "Poppins";
  --bebas: "Bebas Neue";
  --red: #e50914;
  --white: #eee;
  --dark: #101010;
  --gray: #3a3a3a;
  --linear-black: linear-gradient(0deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
  --title: 3.7rem;
  --text: 0.75rem;
  --normal: 1rem;
  --normal2: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

.button {
  font-size: 0.9rem;
  padding: 0.4rem 1.6rem;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

.button-gray {
  font-size: 0.9rem;
  padding: 0.4rem 1.6rem;
  background-color: var(--gray);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}

body {
  background-color: var(--dark);
}
